<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>News from all around the world</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename="css/main.css") }}" rel="stylesheet">    

  </head>
    <body>

        <form id="rcorners" action="{{ url_for('news') }}" method="post">
                <select name = "newsSection" style="font-size:30px;">
                    {% for key in topics %}
                        <option value = {{ key }} {% if key == selectedNewsSection %} selected {% endif %}> {{ key }} </option>
                    {% endfor %}
                </select>
            <button id="rbutton" type="submit">Get my News</button>
        </form>

        
        <div>

            {% if result is defined and result|length > 0 %}
                <h1 align="center"> News related to {{selectedNewsSection}}!</h1>
                    {% for news in result %}
                        <div id="newstext" style="cursor: pointer;" onclick="window.location='{{news[1]}}';">
                            {{ news[0] }}
                        </div>
                    {% endfor%}

            {% endif %}

            {% if error %}
                <p class="error"><strong>Error:</strong> {{ error }}
            {% endif %}
        </div>
    </body>
</html>